// helpers
* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

p {
  margin: 0;
}

.black-box {
  height: 100px;
  background-color: black;
}

.blue-box {
  height: 100px;
  background-color: blue;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textCenter {
  text-align: center;
}

.page {
  height: 100%;
  width: 100%;
}

.main-app-space {
  margin-top: 50px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.main-app-container {
  display: block;
  width: 100%;
}
