.error_img{
  height: 200px;
}
.error_page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.error_message{
  color: #e83731;
  font-size: 16px;
  margin-top: 16px;
}
