@import "./_base";

.space-main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.space-container{
  height:100vh;
}
.col-md-2{
  padding: 0px;
}
.col-md-10{
  padding: 0px;
}
.spaces{
  text-align: left;
  font-size: 15px;
  color: #495057;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #dee2e6;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  cursor: pointer;
}
.header{
  height:10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3%;
}
.side-bar{
  background-color: #e9ecef;
}
.space-name{
  font-size: 38px;
  font-weight: 100;
}
.created-by{
  margin-left: 1%;
  margin-right: 1%;
  font-size: 17px;
  font-weight: 100;
  margin-top: 6px;
}
.user-name{
  margin-top: 6px;
}
.description-container{
  height:30%;
}
.description{
  height: 100%;
  width: 50%;
  border: 1px solid #b4b8bb;
  margin-left: 6%;
  background-color: #f3f3f3;
  word-wrap: break-word;
  padding: 4px;
  line-height: 1;
}
.description-text{
  font-size: 14px;
  font-weight: 200;
}
.grid-container{
  height: 60%;
  padding: 10px;
  width: 99%;
}
