.nav-tabs .nav-item{
  cursor: pointer;
  font-size: 16px;
}
.nav-link{
  padding: .3rem 1rem;
}
.table{
  height: 52vh;
  width: 100%;
}
.table-container{
  height: 54vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
